<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<!---
    FP 2023-10-23
    Page login du panneau RAM
-->
<html lang="fr">

    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Login</h1>
            <form method="post">
                <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
                </p>
                <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
                </p>
                <input type="hidden" id="formName" name="formName" value="login">
                <p>
                <input type="submit" class="btn btn-primary" value="Login">
                </p>
            </form>
            <% if(erreur == "Utilisateur inconnu") {%>
                <h6 class="text-center text-danger"> Utilisateur inconnu ou déjà loggé</h6>
            <% } %>
            <% if(erreur == "Déconnexion") {%>
                <h6 class="text-center text-success"> Vous avez été déconnecté avec succès</h6>
            <% } %>
        </div>
        <div>
            
        </div>
    </body>
</html>